<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        <style media="screen">
            .image { height: 150px; }
            .image img { max-width: 100%; max-height: 100%; }
            .box { display: inline-block; width: 150px; height: 250px; margin: 4px; border: 1px solid #444; }
            .box div { text-align: center; }
        </style>
    </head>
    <body>
        <% products.forEach(e => { %>
            <%-'<div class="box" id="' + e.id + '"><div class="image"><img src="' + e.image + '" /></div><div class="display-current-price">' + e.displayPrice + '</div><div class="timeleft"></div><button type="button">BID</button></div>' %>
        <% }) %>

        <script src="lib/jquery-3.1.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            $(document).ready(() => {
                var socket = io();
                socket.on('SERVER_SEND_HOME', data => {
                    console.log(data);
                });
                socket.on('SERVER_SEND_HOME', products => {
                    products.forEach(e => {
                        $('#' + e.id + ' .timeleft').text(e.timeleft);
                        $('#' + e.id + ' .display-current-price').text(e.displayCurrentPrice);
                    });
                })
                $('button').click(function(){
                    var id = $(this).parent()[0].id;
                    socket.emit('CLIEN_SEND_BID', id);
                });
            });
        </script>
    </body>
</html>
